.navi {
    width: 250px;
    height: 250px;
    padding-top: 20px;
    padding-left: 500px;
}

.navitext{
    margin-bottom: 20px;
    padding-left: 550px;
}

 .astralis {
     width:250px;
     height: 250px;
     padding-left: 100px;

 }

 .astralistext{
    padding-left: 170px;
 }

.g2{
    width: 250px;
    height: 250px;
    padding-left: 550px;
    padding-top: 50px;
}

.g2text{
    padding-left: 970px;
    margin-top: -30px;

}

.mousesports{
    width: 250px;
    height: 250px;
    padding-left: 100px;
    padding-top: 50px;
}

.mousesportstext{
    padding-left: 150px;
}

.fnatic{
    width: 250px;
    height: 250px;
    padding-left: 550px;
}

.fnatictext{
    padding-left: 990px;
    margin-top: -30px;
    padding-bottom: 30px;
}

.flamie{
    width: 200px;
    height: 200px;
    padding-right: 3px;
}

.s1mple{
    width: 200px;
    height: 200px;
}

.electronic{
    width: 200px;
    height: 200px;
}

.boombl4{
    width: 200px;
    height: 200px;
}

.perfecto{
    width: 200px;
    height: 200px;
}

.flamietext{
     padding-right: 150px;
     padding-left: 120px;
}

.s1mpletext{

}

.electronictext{
    padding-left: 130px
}

.boombl4text{
    padding-left: 130px;
    padding-right: 130px
}

.xyp9x{
    width: 200px;
    height: 200px;
    padding-right: 3px;
}

.dupreeh{
    width: 200px;
    height: 200px;
}

.gla1ve{
    width: 200px;
    height: 200px;
}

.device{
    width: 200px;
    height: 200px;
}

.magisk{
    width: 200px;
    height: 200px;
}

.xyp9xtext{
     padding-right: 150px;
     padding-left: 120px;
}

.dupreehtext{
     text-align: center;
}

.gla1vetext{
    padding-left: 130px
}

.devicetext{
    padding-left: 140px;
    padding-right: 130px
}

.magisktext{
 padding-left: 20px;
}

.jackz{
    width: 200px;
    height: 200px;
    padding-right: 3px;
}

.hunter{
    width: 200px;
    height: 200px;
}

.kennys{
    width: 200px;
    height: 200px;
}

.amanek{
    width: 200px;
    height: 200px;
}

.nexa{
    width: 200px;
    height: 200px;
}

.jackzxtext{
     padding-right: 150px;
     padding-left: 120px;
}

.huntertext{
     text-align: center;
}

.kennystext{
    padding-left: 130px
}

.amanektext{
    padding-left: 140px;
    padding-right: 130px
}

.nexatext{
 padding-left: 10px;
}

.karrigan{
    width: 200px;
    height: 200px;
    padding-right: 3px;
}

.chrisj{
    width: 200px;
    height: 200px;
}

.woxic{
    width: 200px;
    height: 200px;
}

.frozen{
    width: 200px;
    height: 200px;
}

.ropz{
    width: 200px;
    height: 200px;
}

.karrigantext{
     padding-right: 150px;
     padding-left: 120px;
     margin-left: -10px;

}

.chrisjtext{
    margin-left: -5px;
}

.woxictext{
    padding-left: 150px;
}

.frozentext{
    padding-left: 150px;
    padding-right: 130px
}

.ropztext{
 padding-left: 20px;
}

.flusha{
    width: 200px;
    height: 200px;
    padding-right: 3px;
}

.jw{
    width: 200px;
    height: 200px;
}

.krimz{
    width: 200px;
    height: 200px;
}

.golden{
    width: 200px;
    height: 200px;
}

.brollan{
    width: 200px;
    height: 200px;
}

.flushatext{
     padding-right: 150px;
     padding-left: 120px;
     margin-left: -2px;
}

.jwtext{
    padding-left: 15px;
}

.krimztext{
    padding-left: 150px;
}

.goldentext{
    padding-left: 150px;
    padding-right: 130px
}

.brollantext{
 padding-left: 20px;
}
