.t1 {
    width: 250px;
    height: 250px;
    padding-top: 20px;
    padding-left: 500px;
}

.t1text{
    padding-left: 100px;
    margin-bottom: 20px;
    padding-left: 600px;
}

 .g2lol{
     width:250px;
     height: 250px;
     padding-left: 100px;
 }

 .g2loltext{
    padding-left: 170px;
 }

.fpx{
    width: 250px;
    height: 250px;
    padding-left: 550px;
    padding-top: 50px;
}

.fpxtext{
    padding-left: 950px;
    margin-top: -30px;

}

.fnatic{
    width: 250px;
    height: 250px;
    padding-left: 100px;
    padding-top: 50px;
}

.fnaticloltext{
    padding-left: 180px;
}

.damwon{
    width: 250px;
    height: 250px;
    padding-left: 550px;

}

.damwontext{
    padding-left: 940px;
    margin-top: -30px;
    padding-bottom: 30px;
}

.faker{
    width: 200px;
    height: 200px;
    padding-right: 3px;
}

.teddy{
    width: 200px;
    height: 200px;
}

.effort{
    width: 200px;
    height: 200px;
}

.cuzz{
    width: 200px;
    height: 200px;
}

.roach{
    width: 200px;
    height: 200px;
}

.fakertext{
     padding-right: 150px;
     padding-left: 120px;
}

.teddytext{

}

.efforttext{
    padding-left: 155px;
}

.cuzztext{
    padding-left: 150px;
    padding-right: 130px;
}

.roachtext{
    padding-left: 20px;
}

.caps{
    width: 200px;
    height: 200px;
    padding-right: 3px;
}

.perkz{
    width: 200px;
    height: 200px;
}

.wunder{
    width: 200px;
    height: 200px;
}

.mikyx{
    width: 200px;
    height: 200px;
}

.jankos{
    width: 200px;
    height: 200px;
}

.capstext{
     padding-right: 150px;
     padding-left: 120px;
}

.perkztext{
     text-align: center;
     padding-left: 10px;
}

.wundertext{
    padding-left: 140px
}

.mikyxtext{
    padding-left: 140px;
    padding-right: 130px
}

.jankostext{
 padding-left: 20px;
}

.khan{
    width: 200px;
    height: 200px;
    padding-right: 3px;
}

.tian{
    width: 200px;
    height: 200px;
}

.doinb{
    width: 200px;
    height: 200px;
}

.lwx{
    width: 200px;
    height: 200px;
}

.crisp{
    width: 200px;
    height: 200px;
}

.khantext{
     padding-right: 150px;
     padding-left: 120px;
}

.tiantext{
     text-align: center;
     padding-left: 10px;
}

.doinbtext{
    padding-left: 150px;
}

.lwxtext{
    padding-left: 165px;
    padding-right: 130px;
}

.crisptext{
 padding-left: 30px;
}

.rekkles{
    width: 200px;
    height: 200px;
    padding-right: 3px;
}

.hylissang{
    width: 200px;
    height: 200px;
}

.bwipo{
    width: 200px;
    height: 200px;
}

.nemesis{
    width: 200px;
    height: 200px;
}

.selfmade{
    width: 200px;
    height: 200px;
}

.rekklestext{
     padding-right: 150px;
     padding-left: 120px;
}

.hylissangtext{
     text-align: center;
     padding-right: 10px;
     margin-left: -25px;
}

.bwipotext{
    padding-left: 150px;
    margin-left: -25px;
}

.nemesistext{
    padding-left: 130px;
    padding-right: 130px;
}

.selfmadetext{

}



.beryl{
    width: 200px;
    height: 200px;
    padding-right: 3px;
}

.canyon{
    width: 200px;
    height: 200px;
}

.ghost{
    width: 200px;
    height: 200px;
}

.nuguri{
    width: 200px;
    height: 200px;
}

.showmaker{
    width: 200px;
    height: 200px;
}

.beryltext{
     padding-right: 150px;
     padding-left: 120px;
}

.canyontext{
     text-align: center;
     padding-right: 30px;
}

.ghosttext{
    padding-left: 150px;
    margin-left: -25px;
}

.nuguritext{
    padding-left: 130px;
    padding-right: 130px;
}

.showmakertext{

}
