.csgoteams-parallax {
    /* The image used */
    background-image: url("../images/csgoteams/virtuspro.jpg");
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-right: 115px;
}

.csgo-parallax {
    /* The image used */
    background-image: url("../images/csgo.jpeg");
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.navi-parallax{
    /* The image used */
    background-image: url("../images/csgoteams/navi/navi team.jpg");
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.astralis-parallax{
    /* The image used */
    background-image: url("../images/csgoteams/astralis/astralis team.jpg");
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.g2-parallax{
    /* The image used */
    background-image: url("../images/csgoteams/g2/g2 team.jpg");
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.mousesports-parallax{
    /* The image used */
    background-image: url("../images/csgoteams/mouse/mousesports team.jpg");
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.fnatic-parallax{
    /* The image used */
    background-image: url("../images/csgoteams/fnatic/Fnatic team.jpg");
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.t1-parallax{
    /* The image used */
    background-image: url("../images/lolteams/t1/t1 team.jpg");
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.g2lol-parallax{
    /* The image used */
    background-image: url("../images/lolteams/g2lol/g2 team.jpg");
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.fpx-parallax{
    /* The image used */
    background-image: url("../images/lolteams/fpx/fpx team.jpg");
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.fnaticlol-parallax{
    /* The image used */
    background-image: url("../images/lolteams/fnaticlol/fnatic team.jpg");
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.damwon-parallax{
    /* The image used */
    background-image: url("../images/lolteams/damwon/damwon team.jpg");
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.lolteams-parallax {
    /* The image used */
    background-image: url("../images/lolteams/skt2.jpg");
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-right: 50px;
}

.lol-parallax {
    /* The image used */
    background-image: url("../images/lol.jpeg");
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.parallax {
    /* The image used */
    background-image: url("../images/background2.jpg");
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.main-parallax {
    background: radial-gradient(#000000, #ffffff);
    background-size: 200% 200%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
