<link rel="stylesheet" type="text/css" href="../css/welcome.css" />
<link rel="stylesheet" type="text/css" href="../css/navbar.css" />

<nav>
    <ul>
        <li><a href="http://localhost:3000/index">Home</a></li>
        <li><a href="http://localhost:3000/lol">League of Legends</a>
            <ul>
                <li><a href="http://localhost:3000/lolteams">LoL Teams</a></li>
            </ul>
        </li>
        <li><a href="http://localhost:3000/csgo">Counter Strike</a>
            <ul>
                <li><a href="http://localhost:3000/csgoteams">CS:GO Teams</a></li>
            </ul>
        </li>
        <li><a href="http://localhost:3000/changelog">Changelog</a></li>
        <li><a href="login">LogIn</a></li>
    </ul>
</nav>
<h1>Hello, <%= name %></h1>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>
