
body{
height: 500px;
/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: 100%;
background-image: url("images/background2.jpg");
}
#p{
margin-top:9px;
}
#people{

background-color: #ffff;
width:250px;
height:440px;
margin-left:767px;
margin-top:-462px;
border: 6px solid white;



}
#pr{
font-size:12px;
margin-top:-34px;
margin-left: 82px;
}
#memechat{
background-color:#0000;
font-family: ModernSans;
color:white;
font-size: 30px;
text-align:center;
border: 2px solid white;
border-radius:15px;
width:190px;
height:60px;
}

#btn{
background: linear-gradient(90deg, #03a9f4, #f441a5, #ff3933, #9B00FE, #FFE000);
font-size:15px;
font-family: ModernSans;
color:white;
width:56px;
height:51px;
text-align: center;
margin-left:0px;
border-radius:10px;
outline:none;
border: 2px solid #ffffff;
}

#btn1{
background: linear-gradient(90deg, #03a9f4, #f441a5, #ff3933, #9B00FE, #FFE000);
font-size:15px;
font-family: ModernSans;
color:white;
width:100px;
height:40px;
text-align: center;
margin-left:1040px;
margin-top: -40px;
border-radius:10px;
outline:none;
border: 2px solid #ffffff;

}
#messageInput{
 margin-left: 532px;
text-align:center;
border-radius:10px;
outline:none;
font-size:15px;
font-family: ModernSans;
color:black;
width:250px;
height:50px;
margin-bottom: 30px;
}


#t {
text-align:left;
font-size:15px;
font-family: ModernSans;
color:black;
border: 2px solid #0000;
  margin-top: -5px;
  margin-left: 72px;
  width:200px;
  height:90px;
  background-color:white;
  border-radius:12px;
  resize: none;
      outline: none;

}
#chat{

border: 6px solid white;
width:459px;
background-color:#0000;
margin:auto;
border-radius: 10px;
margin-left:300px;
}

::-webkit-scrollbar {
	display: none;
}
#circle{
width:50px;
height:50px;
border-radius:100px;
border: 5px solid white;
margin-left:25px;
background-color:#ffff;

}
#circle1{
width:50px;
height:50px;
border-radius:100px;
border: 5px solid white;
margin-left:25px;
background-color:#ffff;

}
