@font-face {
    font-family: ModernSans;
    src: url('fonts/ModernSans-Light.otf');

}


body{
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("images/background2.jpg");
}

label{
    padding-left: 500px;

}


h1{
    margin-top: 210px;
    font-size: 50px;
    font-family: ModernSans;
    text-align: center;
}
