<!DOCTYPE html>
<html lang="en" dir="ltr">

	<head>
		<title> MemeChat</title>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" type="text/css" href="../css/chatbox.css" />
	</head>

<body>


	<form id="messageForm">


			<input type="text" id="messageInput" placeholder="Type..."/>
			<button type="submit"  id="btn" onclick="hidel()"> Send </button>

	</form>

	<div class="chat" id="chat" style="overflow-y:scroll; height:450px;">


<div id="messageBox">

</div>
</div>

</div>

<button type="submit"  id="btn1" onclick="showl()"> Show All </button>
<div id="people" style="overflow-y:scroll; height:450px;"></div>
</body>

<script>
var socket = io.connect();  //connects to socket

$(function(){
var $people = $("#people");

var $messageForm = $("#messageForm"); //ref to the div message form
var $messageInput = $("#messageInput"); //ref to input box with id message
var $chat = $("#chat"); //ref to div chat

$messageForm.submit(function(e){
e.preventDefault();
socket.emit("send message", $messageInput.val());
$messageInput.val("");


});
socket.on("new message", function(data){


if(data.msg.length > 0){
$chat.append('<br>'  +'<div id="circle"> ' + '<textarea id="t" readonly>' + data.msg + '</textarea>'+' </div>' + '<br>' );

}
});

socket.on("new chatter", function(data){

$people.append('<br>'  +'<div id="circle1"> ' + ' </div>' + '<br>' );

});

socket.on("chatter left", function(data){


$("#circle1").remove();


});
});
showlog = false;
window.setInterval(function() {
if(showlog == false){
  var chat = document.getElementById("chat");
  chat.scrollTop = chat.scrollHeight;

  var people = document.getElementById("people");
  people.scrollTop = people.scrollHeight;
  }
}, 4);

function showl(){
showlog = true;

}
function hidel(){
var chat = document.getElementById("chat");
  chat.scrollTop = chat.scrollHeight;
  var people = document.getElementById("people");
  people.scrollTop = people.scrollHeight;
showlog = false;
}
</script>


</html>
