<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link rel="stylesheet" href="../css/parallax.css" type="text/css">
    <link rel="stylesheet" href="../css/navbar.css" type="text/css">

    <title>Counter Strike</title>
</head>

<body>
    <div id="wrapper">
        <nav>
            <ul>
                <li><a href="http://localhost:3000/index">Home</a></li>
                <li><a href="http://localhost:3000/lol">League of Legends</a>
                    <ul>
                        <li><a href="http://localhost:3000/lolteams">LoL Teams</a></li>
                    </ul>
                </li>
                <li><a href="http://localhost:3000/csgo">Counter Strike</a>
                    <ul>
                        <li><a href="http://localhost:3000/csgoteams">CS:GO Teams</a></li>
                    </ul>
                </li>
                <li><a href="http://localhost:3000/changelog">Changelog</a></li>
                <li><a href="login">LogIn</a></li>
            </ul>
        </nav>
        <header class="csgo-parallax">
            <h1>Counter Strike</h1>
        </header>

        <article>
            <p id="info" class="csgo-parallax">
                <b>The game Counter-Strike: Global Offensive (abbreviated CS:GO) was developed and released by Valve in 2012. Valve Corporation as an american video game developer and publisher based in Wasshington. </b>
            </p>
        </article>

        <section class="main-parallax">

            <article class="content">
                <h2>What is the game about?</h2>
                <p>
                    <b>
                        Counter-Strike: Global Offensive is a First-person shooter. The games consists of several different game modes. But the main game mode is the Competitive Mode.
                        In Competitive Mode two teams consisting of 5 players compete against each other. In this game mode team play and skill is very important. The teams are called Terrorists and Counter-Terrorists (which are abbreviated as Ts and
                        CTs).
                        There are many different weapon categories in the game. There are Pistols, Heavys, SMGs, Rifles and grenades.
                        Both teams can buy the same weapons except for some exceptions. For example the Ts can buy a AK-47 which the CTs can't but the CT counterpart is the M4A4/M4A1S.
                        The game is divided into rounds which are about 2 minutes long.There are 30 rounds in total an to win the match one of the teams needs to win 16 rounds. If both teams win 15 rounds each, the match ends in a draw.
                        A very important feature in CS:GO is the economic system. In round 1 both start with 800$ to buy pistols. In the following rounds the winner team gets Money to buy better guns and other equipment, but the losing team
                        also gets a losing bonus which is obviously less than the money you get for winning. But if one team is losing several rounds in a row the losing bonus increases.
                        After losing 5 rounds or more the losing bonus is the same as the money you get for winning, which creates chances for a comeback for the losing team. So it is very important as a team to think
                        about how you spend your money. For each win you get a certain amount of ranked points. There are 18 ranks in the game reaching from Silver I(the lowest rank) to Global Elite(the highest rank).
                        You rank up by winning enough matches but you can also rank down by losing matches.
                    </b>
                </p>
                <h2>Where can I get the game</h2>
                <p>
                    <b>
                        The game is available as a free download on <a href="https://store.steampowered.com/app/730/CounterStrike_Global_Offensive/"> Valves Steam launcher.</a>
                    </b>
                </p>
            </article>

            <article class="content">
                <h2>E-Sports</h2>
                <p class="lastText">
                    <b>
                        CS:GO E-Sports works quite differently in comparison to League of Legends E-sports. There are also a few leagues that last several months but there are a lot more tournament events.
                        Tournaments consist of a group stage and playoffs.
                        There are regular tournaments all over the year and also 2-3 main tournaments called "Majors".
                        In the group stage groups of 4 teams play against each other in Best-of-One matches. The 2 best teams of each group reach the playoffs. In the playoffs teams compete against each other in Best-of-Three matches.
                        Sometimes finals are also played out in a Best-of-Five match.
                    </b>
                </p>
            </article>

        </section>
    </div>
</body>

</html>
