<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link rel="stylesheet" href="../css/parallax.css" type="text/css">
    <link rel="stylesheet" href="../css/navbar.css" type="text/css">
    <link rel="stylesheet" href="../css/lolteams.css" type="text/css">

    <title>Counter Strike</title>
</head>

<body>
    <div id="wrapper">
        <nav>
            <ul>
                <li><a href="http://localhost:3000">Home</a></li>
                <li><a href="http://localhost:3000/lol">League of Legends</a>
                    <ul>
                        <li><a href="http://localhost:3000/lolteams">LoL Teams</a></li>
                    </ul>
                </li>
                <li><a href="http://localhost:3000/csgo">Counter Strike</a>
                    <ul>
                        <li><a href="http://localhost:3000/csgoteams">CS:GO Teams</a></li>
                    </ul>
                </li>
                <li><a href="http://localhost:3000/changelog">Changelog</a></li>
                <li><a href="http://localhost:3000/chatstart">Chatbox</a></li>
            </ul>
        </nav>
        <header class="damwon-parallax">
            <h1>Damwon Gaming</h1>
        </header>

        <article>
            <p id="info" class="damwon-parallax">
                <b>On this page you will get some Information about the current No. 5 League-Team in the World.  </b>
            </p>
        </article>

        <section class="main-parallax">

            <article class="content">

                <h2>History of Damwon Gaming</h2>
                <p>
                    Damwon Gaming is a rather new gaming organisation which was founded in 2017.
                    Damwon gaming is a korean gaming organisation.

               </p>

               <article class="content">
                   <h2>Most Important Tournament wins</h2>
                   <p>
                       <b>

                        2019 <br>
                           LCK Regional Finals 2019 (Prize Money: $0, Final against Kingzone DragonX)<br>
                           Rift Rivals 2019: LCK vs LPL vs LMS vs VCS (Prize Money: $80 000, Final against LPL) <br>
                        2018 <br>
                           LCK Spring 2019 - Promotion (Prize Money: $0, Final against Team BattleComics) <br>
                           CK Summer 2018 <br>
                       </b>
                   </p>
                   <h2>Current Roster</h2>
                   <article>
                       <ul>
                             <li><div class="beryltext">Beryl</div></li>
                             <li><div class="canyontext">Canyon</div></li>
                             <li><div class="ghosttext">Ghost</div></li>
                             <li><div class="nuguritext">Nuguri</div></li>
                             <li><div class="showmakertext">ShowMaker</div></li>
                       </ul>

                       <img src= "http://localhost:3000/css/images/lolteams/damwon/beryl.jpg" alt="Beryl" class="beryl">
                       <img src= "http://localhost:3000/css/images/lolteams/damwon/Canyon.jpg" alt="Canyon" class="canyon">
                       <img src= "http://localhost:3000/css/images/lolteams/damwon/Ghost.jpg" alt="Ghost" class="ghost">
                       <img src= "http://localhost:3000/css/images/lolteams/damwon/Nuguri.jpg" alt="Nuguri" class="nuguri">
                       <img src= "http://localhost:3000/css/images/lolteams/damwon/ShowMaker.jpg" alt="ShowMaker" class="showmaker">
                   </article>

               </article>
            </article>

        </section>
    </div>
</body>

</html>
