<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link rel="stylesheet" href="../css/parallax.css" type="text/css">
    <link rel="stylesheet" href="../css/navbar.css" type="text/css">
    <link rel="stylesheet" href="../css/csgoteams.css" type="text/css">

    <title>Counter Strike</title>
</head>

<body>
    <div id="wrapper">
        <nav>
            <ul>
                <li><a href="http://localhost:3000">Home</a></li>
                <li><a href="http://localhost:3000/lol">League of Legends</a>
                    <ul>
                        <li><a href="http://localhost:3000/lolteams">LoL Teams</a></li>
                    </ul>
                </li>
                <li><a href="http://localhost:3000/csgo">Counter Strike</a>
                    <ul>
                        <li><a href="http://localhost:3000/csgoteams">CS:GO Teams</a></li>
                    </ul>
                </li>
                <li><a href="http://localhost:3000/changelog">Changelog</a></li>
                <li><a href="http://localhost:3000/chatstart">Chatbox</a></li>
            </ul>
        </nav>
        <header class="fnatic-parallax">
            <h1>Fnatic</h1>
        </header>

        <article>
            <p id="info" class="fnatic-parallax">
                <b>On this page you will get some Information about the current No. 5 CSGO-Team in the World.  </b>
            </p>
        </article>

        <section class="main-parallax">

            <article class="content">

                <h2>History of Fnatic</h2>
                <p>
                    Fnatic is a british E-Sports organisation based in London. Fnatic is a relatively old organisation which was founded back in 2004.
                    With 3 Major wins Fnatic is the CS:GO team with the second most Major wins in History.
               </p>

               <article class="content">
                   <h2>Most Important Tournament wins</h2>
                   <p>
                       <b>
                       2019 <br>
                           DreamHack Masters Malmö 2019 (Prize Money: $100 000, Final against Team Vitality)<br>
                           <br>
                       2018 <br>
                           World Electronic Sports Games 2017 (Prize Money: $800,000, Final against Space Soldiers)<br>
                           Intel Extreme Masters XII - World Championship (Prize Money: $250 000 Final against Faze Clan)<br>
                           <br>
                       2016 <br>
                           	Intel Extreme Masters X - World Championship (Prize Money: $104 000, Final against Luminosity Gaming)<br>
                           <br>
                       2015 <br>
                           ESL One: Cologne Major 2015 (Prize Money: $100 000, Final against EnVyUs)<br>
                           ESL One: Katowice Major 2015 (Prize Money: $100 000, Final against Ninjas in Pyjamas )<br>
                           <br>
                       2013 <br>
                           DreamHack Winter Major 2013 (Prize Money: $100 000, Final against Ninjas in Pyjamas )<br>

                       </b>
                   </p>
                   <h2>Current Roster</h2>
                   <article>
                       <ul>
                             <li><div class="flushatext">flusha</div></li>
                             <li><div class="jwtext">JW</div></li>
                             <li><div class="krimztext">KRIMZ</div></li>
                             <li><div class="frozentext">frozen</div></li>
                             <li><div class="ropztext">ropz</div></li>
                       </ul>

                       <img src= "http://localhost:3000/css/images/csgoteams/fnatic/flusha.jpeg" alt="flusha" class="flusha">
                       <img src= "http://localhost:3000/css/images/csgoteams/fnatic/JW.jpeg" alt="JW" class="jw">
                       <img src= "http://localhost:3000/css/images/csgoteams/fnatic/KRIMZ.jpeg" alt="KRIMZ" class="krimz">
                       <img src= "http://localhost:3000/css/images/csgoteams/fnatic/Golden.jpeg" alt="Golden" class="golden">
                       <img src= "http://localhost:3000/css/images/csgoteams/fnatic/Brollan.jpeg" alt="Brollan" class="brollan">
                   </article>
               </article>
            </article>
        </section>
    </div>
</body>

</html>
