<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link rel="stylesheet" href="../css/parallax.css" type="text/css">
    <link rel="stylesheet" href="../css/navbar.css" type="text/css">
    <link rel="stylesheet" href="../css/lolteams.css" type="text/css">

    <title>Counter Strike</title>
</head>

<body>
    <div id="wrapper">
        <nav>
            <ul>
                <li><a href="http://localhost:3000/index">Home</a></li>
                <li><a href="http://localhost:3000/lol">League of Legends</a>
                    <ul>
                        <li><a href="http://localhost:3000/lolteams">LoL Teams</a></li>
                    </ul>
                </li>
                <li><a href="http://localhost:3000/csgo">Counter Strike</a>
                    <ul>
                        <li><a href="http://localhost:3000/csgoteams">CS:GO Teams</a></li>
                    </ul>
                </li>
                <li><a href="http://localhost:3000/changelog">Changelog</a></li>
                <li><a href="login">LogIn</a></li>
            </ul>
        </nav>
        <header class="fpx-parallax">
            <h1>FunPlus Phoenix</h1>
        </header>

        <article>
            <p id="info" class="fpx-parallax">
                <b>On this page you will get some Information about the current No. 3 League-Team in the World.  </b>
            </p>
        </article>

        <section class="main-parallax">

            <article class="content">

                <h2>History of FunPlus Phoenix</h2>
                <p>
                    FunPlus Phoenix (FPX) is a Chinese professional esports organization owned by video game developer FunPlus.
                    They haven been active in League of Legends since 2017. FPX won the last World Championship.
               </p>

               <article class="content">
                   <h2>Most Important Tournament wins</h2>
                   <p>
                       <b>

                        2019 <br>
                           2019 World Championship (Prize Money: $834 375, Final against G2 Esports)<br>
                           LPL Summer 2019 (Prize Money: $210 863, Final against Royal Never Give Up) <br>
                       </b>
                   </p>
                   <h2>Current Roster</h2>
                   <article>
                       <ul>
                             <li><div class="khantext">Khan</div></li>
                             <li><div class="tiantext">Tian</div></li>
                             <li><div class="doinbtext">Doinb</div></li>
                             <li><div class="lwxtext">lwx</div></li>
                             <li><div class="crisptext">Crisp</div></li>
                       </ul>

                       <img src= "http://localhost:3000/css/images/lolteams/fpx/Khan.jpg" alt="Khan" class="khan">
                       <img src= "http://localhost:3000/css/images/lolteams/fpx/Tian.jpg" alt="Tian" class="tian">
                       <img src= "http://localhost:3000/css/images/lolteams/fpx/Doinb.jpg" alt="Doinb" class="doinb">
                       <img src= "http://localhost:3000/css/images/lolteams/fpx/lwx.jpg" alt="lwx" class="lwx">
                       <img src= "http://localhost:3000/css/images/lolteams/fpx/Crisp.jpg" alt="Crisp" class="crisp">
                   </article>

               </article>
            </article>

        </section>
    </div>
</body>

</html>
