<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link rel="stylesheet" href="../css/parallax.css" type="text/css">
    <link rel="stylesheet" href="../css/navbar.css" type="text/css">
    <link rel="stylesheet" href="../css/csgoteams.css" type="text/css">

    <title>Counter Strike</title>
</head>

<body>
    <div id="wrapper">
        <nav>
            <ul>
                <li><a href="http://localhost:3000">Home</a></li>
                <li><a href="http://localhost:3000/lol">League of Legends</a>
                    <ul>
                        <li><a href="http://localhost:3000/lolteams">LoL Teams</a></li>
                    </ul>
                </li>
                <li><a href="http://localhost:3000/csgo">Counter Strike</a>
                    <ul>
                        <li><a href="http://localhost:3000/csgoteams">CS:GO Teams</a></li>
                    </ul>
                </li>
                <li><a href="http://localhost:3000/changelog">Changelog</a></li>
                <li><a href="http://localhost:3000/chatstart">Chatbox</a></li>
            </ul>
              <button type="submit">Log Out</button>
            </form>
        </nav>
        <header class="g2-parallax">
            <h1>G2 Esports</h1>
        </header>

        <article>
            <p id="info" class="g2-parallax">
                <b>On this page you will get some Information about the current No. 3 CSGO-Team in the World.  </b>
            </p>
        </article>

        <section class="main-parallax">

            <article class="content">

                <h2>History of G2 Esports</h2>
                <p>
                    G2 Esports is a spanish E-Sport organisation based in Berlin. G2 Esports was founded in 2014.
                    Even though they have been pretty successful over the years, they could not win a Major yet.
               </p>

               <article class="content">
                   <h2>Most Important Tournament wins</h2>
                   <p>
                       <b>
                        2020 <br>
                            BLAST Premier: Spring 2020 Regular Season (Prize Money: $50 000, Final against OG)<br>
                            <br>
                        2019 <br>
                           Champions Cup Finals 2019 (Prize Money: $150 000 Final against Team Spirit)<br>
                           Good Game League 2019 (Prize Money: $56 354, Final against Tricked Esport)<br>
                           Intel Extreme Masters XIII - Katowice Major 2019 (Prize Money: $500 000, Final against ENCE) <br>
                             <br>
                       2017 <br>
                           	DreamHack Masters Malmö 2017 (Prize Money: $100 000, Final against North)<br>
                            ESL Pro League Season 5 - Finals (Prize Money: $225 000, Final against North)<br>
                            <br>
                        2016 <br>
                            	Esports Championship Series Season 1 - Finals (Prize Money: $250 000, Final against Luminosity Gaming)<br>
                       </b>
                   </p>
                   <h2>Current Roster</h2>
                   <article>
                       <ul>
                             <li><div class="jackzxtext">JaCkz</div></li>
                             <li><div class="huntertext">huNter-</div></li>
                             <li><div class="kennystext">kennyS</div></li>
                             <li><div class="amanektext">AmaNEk</div></li>
                             <li><div class="nexatext">nexa</div></li>
                       </ul>

                       <img src= "http://localhost:3000/css//images/csgoteams/g2/JaCkz.jpeg" alt="JaCkz" class="jackz">
                       <img src= "http://localhost:3000/css//images/csgoteams/g2/huNter-.jpeg" alt="huNter-" class="hunter">
                       <img src= "http://localhost:3000/css//images/csgoteams/g2/kennyS.jpeg" alt="kennyS" class="kennys">
                       <img src= "http://localhost:3000/css//images/csgoteams/g2/AmaNEk.jpeg" alt="AmaNEk" class="amanek">
                       <img src= "http://localhost:3000/css//images/csgoteams/g2/nexa.jpeg" alt="nexa" class="nexa">
                   </article>

               </article>
            </article>

        </section>
    </div>
</body>

</html>
